{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="container my-24 mx-auto md:px-6">
  <!-- Section: Design Block -->
    <section class="mb-32 text-center">
        <div class="grid gap-6 lg:grid-cols-3 xl:gap-x-12">
        {% for item in articles %}
            <div class="mb-6">
                <div class="relative block rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
                    <div class="p-6">
                        <h5 class="mb-3 text-lg font-bold">{{ item.titre }}</h5>
                        <p class="mb-4">
                        <small>Publié le <u>{{ item.date|date('d-m-Y') }}</u> par
                            <a href="#!">{{ item.auteur.prenom }}</a> dans le(s) thème(s) : {% for theme in item.theme %}
                                {{theme.nom}}, 
                            {% endfor %}</small>
                        </p>
                        <p class="mb-4 pb-2">
                        {% set var = item.contenu|split(' ') %}
                        {% for word in var[0:20] %}
                            {{ word }}
                        {% endfor %}           
                        ..., 

                        </p>
                        <a href="{{ path('app_single', {'id': item.id})}}" data-te-ripple-init data-te-ripple-color="light"
                        class="inline-block rounded-full bg-primary px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]">Read
                        more</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </section>
</div>
{% endblock %}
