{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Article index</h1>
    <div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
        <div class="overflow-hidden">
            <table class="min-w-full text-left text-sm font-light">
            <thead class="border-b font-medium dark:border-neutral-500">
            <tr>
                <th scope="col" class="px-6 py-4">Id</th>
                <th scope="col" class="px-6 py-4">Titre</th>
                <th scope="col" class="px-6 py-4">Contenu</th>
                <th scope="col" class="px-6 py-4">Thèmes</th>
                <th scope="col" class="px-6 py-4">Date</th>
                <th scope="col" class="px-6 py-4">Statut</th>
                <th scope="col" class="px-6 py-4">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr class="border-b dark:border-neutral-500">
                <td class="whitespace-nowrap px-6 py-4 font-medium">{{ article.id }}</td>
                <td class="whitespace-nowrap px-6 py-4">{{ article.titre }}</td>
                {# <td class="whitespace px-6 py-4">{{ article.contenu[0:30] }}...</td> #}
                <td class="whitespace px-6 py-4">
                {% set var = article.contenu|split(' ') %}
                {% for item in var[0:10] %}
                    {{ item }}
                {% endfor %}           
                ...
                </td>
                <td class="whitespace-nowrap px-6 py-4">
                    {% for item in article.theme %}
                        {{ item.nom }}
                    {% endfor %}
                </td>
                <td class="whitespace-nowrap px-6 py-4">{{ article.date ? article.date|date('Y-m-d H:i:s') : '' }}</td>
                <td class="whitespace-nowrap px-6 py-4">{{ article.statut }}</td>
                <td class="whitespace-nowrap px-6 py-4">
                    <a href="{{ path('app_article_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
    </div>
    </div>
    <a href="{{ path('app_article_new') }}" class="text-danger transition duration-150 ease-in-out hover:text-danger-600 focus:text-danger-600 active:text-danger-700">Create new</a>
{% endblock %}
